# dependencies
/node_modules

# testing
/coverage

# build
/dist
bundle*.zip

# etc
.DS_Store
.env.local
.idea
.vscode

# compiled
utils/reload/*.js
utils/reload/injections/*.js
public/manifest.json

# misc
pnpm-lock.yaml
yarn.lock
