@import '~antd/dist/antd.compact.min.css';

@media (prefers-color-scheme: light) {
	.logo {
		height: 32px;
		margin: 16px;
	}

	.site-layout .site-layout-background {
		background: #fff;
	}
}

@media (prefers-color-scheme: dark) {
	.logo {
		height: 32px;
		margin: 16px;
	}

	.site-layout .site-layout-background {
		background: #141414 !important;
	}

	.ant-layout .site-layout {
		background-color: #000 !important;
	}

	.ant-menu.ant-menu-dark,
	.ant-menu.ant-menu-dark .ant-menu-sub {
		background: #202020 !important;
	}

	.ant-layout-footer {
		background-color: #000 !important;
	}

	.ant-page-header-heading-sub-title {
		color: rgba(255, 255, 255, 0.65) !important;
	}

	.ant-page-header-heading-title {
		color: rgba(255, 255, 255, 0.65) !important;
	}

	.anticon-arrow-left {
		color: rgba(255, 255, 255, 0.65) !important;
	}

	.ant-descriptions-item-label {
		color: rgb(255 255 255 / 85%) !important;
	}

	.ant-descriptions-title {
		color: rgb(255 255 255 / 85%) !important;
	}

	.ant-descriptions-item-content {
		color: rgb(255 255 255 / 65%) !important;
	}

	.ant-tag-error {
		color: #d32029 !important;
		background: #2a1215 !important;
		border-color: #58181c !important;
	}

	.ant-tag-purple {
		color: #642ab5 !important;
		background: #1a1325 !important;
		border-color: #301c4d !important;
	}

	.ant-result-title {
		color: rgba(255, 255, 255, 0.85) !important;
		font-size: 24px !important;
		line-height: 1.8 !important;
		text-align: center !important;
	}

	.ant-result-subtitle {
		color: rgba(255, 255, 255, 0.45) !important;
		font-size: 14px !important;
		line-height: 1.6 !important;
		text-align: center !important;
	}

	.ant-result-content {
		margin-top: 24px !important;
		padding: 24px 40px !important;
		background-color: rgba(255, 255, 255, 0.04) !important;
	}

	.ant-layout-sider {
		background: #1f1f1f !important;
	}

	.ant-list-split .ant-list-item {
		border-bottom: 1px solid rgba(255, 255, 255, 0.65) !important;
	}

	.ant-card-bordered {
		border: 1px solid #303030 !important;
	}

	.ant-card {
		color: rgba(255, 255, 255, 0.65) !important;
		background: #141414 !important;
		border-radius: 5px !important;
	}

	.ant-tag-blue {
		color: #177ddc !important;
		background: #111d2c !important;
		border-color: #15395b !important;
	}

	.ant-card-meta-title {
		color: rgb(255 255 255 / 85%) !important;
	}

	.ant-card-actions {
		background: #141414;
		border-top: 1px solid #303030;
	}

	.ant-card-meta-description {
		color: rgb(255 255 255 / 45%) !important;
	}

	.ant-tag-processing {
		color: #177ddc !important;
		background: #111d2c !important;
		border-color: #15395b !important;
	}

	.ant-tag-magenta {
		color: #cb2b83;
		background: #291321;
		border-color: #551c3b;
	}

	.ant-tag-red {
		color: #d32029 !important;
		background: #2a1215 !important;
		border-color: #58181c !important;
	}

	.ant-tag-green {
		color: #49aa19 !important;
		background: #162312 !important;
		border-color: #274916 !important;
	}

	.ant-card-actions > li:not(:last-child) {
		border-right: 1px solid #ffffff3d !important;
	}

	.ant-input {
		color: rgba(255, 255, 255, 0.65) !important;
		background-color: transparent !important;
		background-image: none !important;
	}

	.ant-btn-dashed {
		color: rgba(255, 255, 255, 0.65) !important;
		background: transparent !important;
		border-color: #434343 !important;
		border-style: dashed !important;
	}

	.ant-btn-primary {
		color: #fff !important;
		background: #177ddc !important;
		border-color: #177ddc !important;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
	}

	.ant-collapse {
		color: rgba(255, 255, 255, 0.65) !important;
		background-color: rgba(255, 255, 255, 0.04) !important;
		border: 1px solid #434343 !important;
	}

	.ant-collapse-content {
		color: rgba(255, 255, 255, 0.65) !important;
		background-color: #141414 !important;
		border-top: 1px solid #434343 !important;
	}

	.ant-collapse > .ant-collapse-item {
		border-bottom: none !important;
	}

	.ant-collapse > .ant-collapse-item > .ant-collapse-header {
		color: rgba(255, 255, 255, 0.85) !important;
	}

	.ant-card-actions > li > span > .anticon,
	.ant-card-actions > li > span a:not(.ant-btn) {
		color: rgba(255, 255, 255, 0.45) !important;
	}

	.ant-input-affix-wrapper {
		color: rgba(255, 255, 255, 0.65) !important;
		background-color: transparent !important;
		border: 1px solid #434343 !important;
		background-image: none !important;
	}

	.ant-divider-dashed {
		background: none !important;
		border: dashed #f0f0f04a !important;
		border-width: 1px 0 0 !important;
	}

	.ant-tag-orange {
		color: #d87a16 !important;
		background: #2b1d11 !important;
		border-color: #593815 !important;
	}

	.ant-tag-geekblue {
		color: #2b4acb !important;
		background: #131629 !important;
		border-color: #1c2755 !important;
	}

	.ant-typography {
		color: rgba(255, 255, 255, 0.65) !important;
	}

	.ant-layout-footer {
		color: rgba(255, 255, 255, 0.65) !important;
	}

	.ant-input:hover {
		border-color: #165996;
		border-right-width: 1px !important;
	}

	.ant-empty-description {
		color: rgba(255, 255, 255, 0.3) !important;
	}

	.ant-btn-dangerous {
		color: #a61d24 !important;
		background: transparent !important;
		border-color: #a61d24 !important;
	}

	.ant-btn-dangerous.ant-btn-primary:hover,
	.ant-btn-dangerous.ant-btn-primary:focus {
		color: #fff !important;
		background: #800f19 !important;
		border-color: #800f19 !important;
	}

	.dark-mode-text-error {
		color: rgba(255, 255, 255, 0.3) !important;
	}
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 750px;
	min-height: auto;
}
